/* This file is for your main application css. */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: 'Inter', Helvetica, sans-serif !important;
  margin: auto;
  padding: 0 10px 10px 10px;
  background-color: black;
  color: #c2c2c2;
  font-size: 12pt;
  font-weight: 500;
  width: 960px;
  min-width: 230px;
}

@media (max-width: 960px) {
  body {
    width: auto;
  }

  nav {
    width: auto;
  }
}

p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

a:link,
a:visited {
  text-decoration: unset;
  font-weight: 800;
}

a:link {
  color: #dbdbdb;
}

a:visited {
  color: grey;
}

a:link:active,
a:visited:active {
  color: #ff9a57;
}

.icon {
  color: #dddddd;
  fill: #dddddd;
}

.icon-nav-item-svg {
  width: 24px;
  margin-top: -4px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

nav > span {
  display: flex;
}

nav > a:visited, nav > a:hover, nav > a:active {
  color: #FF6600;
}

.op {
  color: #FF6600 !important;
}

.navbar-item {
  text-decoration: none;
  color: #FF6600 !important;
}

.navbar-item:visited {
  color: #FF6600 !important;
  text-decoration: none !important;
}

.iconoir-clock {
  margin: 3px;
  margin-right: 10px;
}

.icon-orange {
  color: #FF6600;
  fill: #FF6600;
}

.icon-white {
  color: white;
}

/**
 STORY
 */

.story {
  display: flex;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #222222;
  max-width: 960px;
}

.points-comments {
  white-space: nowrap;
  display: block;
  width: 75px;
  min-width: 75px;
}

a:visited {
  color: grey !important;
}

.story-title {
  display: block;
  width: 100%;
  margin-top: 4px;
}

.story-content {
  position: relative;
  padding-left: 10px;
  border-left: 1px solid #222222;
}

a:visited > div > span,
a:visited > div > svg {
  color: grey;
  fill: grey;
}

svg {
  fill: #dddddd;
}

.story-details {
  font-size: 10pt;
  color: grey;
}

.story-details > a {
  color: grey;
}

.story-url {
  color: grey;
}

.white-icon {
  z-index: 1;
}

.points-comments > div {
  display: flex;
  align-items: center;
}

.points-comments > div > span {
  margin-left: 5px;
}

.index {
  margin-top: 9px;
  color: #333333;
  font-size: 14pt;
  width: 40px;
  min-width: 40px;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 500px) {
  .index {
    display: none;
  }

  .points-comments {
    width: 75px;
    min-width: 75px;
  }

  .story-content {
    border: none;
  }
}

/**
  END STORY
*/

/**
  COMMENT
*/
.comment {
  display: flex;
  border-bottom: 1px solid #666666;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: row;
  height: auto;
  align-items: stretch;
  overflow: auto;
  width: auto;
  font-size: 11pt;
  position: relative;
}

.comment > div {
  width: 100%;
  position: relative;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.color-bar {
  border-radius: 3px;
  width: 3px !important;
  min-width: 3px;
  margin-right: 10px;
  margin-left: 5px;
  height: auto;
}

.toggle-replies {
  width: 100%;
  text-align: right;
  margin-top: 15px;
  color: #FF6600;
}

.toggle-replies > div {
  cursor: pointer;
  font-weight: bold;
}
/**
  END COMMENT
*/

.active {
  text-decoration: underline !important;
}

.splitted-user-submitted {
  display: flex;
  justify-content: space-between;
}

input[type=search] {
  border-radius: 3px;
  background-color: rgb(25, 25, 25);
  color: white;
  border: 1px solid rgb(50, 50, 50);
  padding: 3px;
  margin-top: -10px;
  width: 120px;

  -webkit-appearance: none;
}

.about-title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 72px;
  width: 240px;
  background: #FF6600;
  background: linear-gradient(to right, #FF6600 0%, #540582 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;

}
