<%= @time_sorted_items |> Enum.map(fn({date, items}) -> %>
  <h2 class="sticky"><%= date %></h2>
  <%= items |> Enum.filter(fn i -> not is_nil(i) end) |> Enum.with_index |> Enum.map(fn({item, index}) ->  %>
    <WhnWeb.Components.Story.story conn={@conn} item={item} index={index + 1}/>
  <% end) %>
<% end) %>
