<h1><a href={@item.url}><%= @item.title %></a></h1>by <%= @item.by %> <%= Whn.TextProcessor.calculate_time_ago(@item.time) %>

<WhnWeb.Components.Comment.comment_hierarchy level={-1} item={@item} kids={@kids} conn={@conn}/>
