<h1><%= @user.id %></h1>
<h4>Account created <%= Whn.TextProcessor.calculate_time_ago(@user.created) %>, has <%= @user.karma %> karma point(s).</h4>
<div> <%= raw @user.about %></div>
<div>
    <h3>Submitted stories</h3>
    <%= @submitted.stories |> Enum.filter(fn item -> !is_nil(item.title) end) |> Enum.with_index |> Enum.map(fn({item, index}) -> %>
        <WhnWeb.Components.Story.story conn={@conn} item={item} index={index + 1}/>
    <% end) %>
</div>
<div>
    <h3>Submitted comments</h3>
    <%= @submitted.comments |> Enum.filter(fn item -> !is_nil(item.text) end) |> Enum.map(fn item -> %>
        <WhnWeb.Components.Comment.show_user_comment conn={@conn} item={item}/>
        <hr />
    <% end) %>
</div>
<div>
    <h3>Unfetched raw submissions ids</h3>
    <%= @user.submitted |> Enum.map(fn item_id -> %>
        <a href={ "/items/" <> to_string(item_id) }><small><%= item_id %></small></a>
    <% end) %>
</div>
