<h1>Search for "<%= @query %>", <%= @hits |> length %> results : </h1>

<div>
    <%= @hits |> Enum.with_index |> Enum.map(fn({item, index}) -> %>
        <WhnWeb.Components.SearchHit.search_hit conn={@conn} item={item} index={index + 1}/>
    <% end) %>
</div>
